* {
    --bg: #000;
    
    box-sizing: border-box;
}

body {
    padding: 50px 100px;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "H M"
        "H F";
    cursor: url('../media/cursor.svg') 16 16, auto;
    /* Центр для иконки 32x32 */
}

header {
    grid-area: H;
    background-color: lightcoral;
}

#logo {
    width: 40%;
    aspect-ratio: 1;

}
#eye-svg {
    fill: white;
}
#pupil {
    fill: blue;
    transition: transform 0.2s ease-out;
}

main {
    grid-area: M;
    background-color: darkseagreen;
}
model-viewer {
    width: 100%;
    height: 800px;
    
    border: 1px solid red;
}

footer {
    grid-area: F;
    background-color: cornflowerblue;
}
